* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    
    padding: 11em;
}

.Header_Productpage {
  
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
 
}

nav a {
    color: #999;
    text-decoration: none;
}

.heading_productpage {
    margin-top: 20px;
   
   margin-bottom: 10px;
}
.paragraph_productpage{
    color: #999;
    margin-top: 20px;
   
    margin-bottom: 20px;
  
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
}

.bestseller {
    background-color: #ffa41c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.rating i{
    color: #ffa41c ;
  
}
.course-image {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.course-image img {
    width: 100%;
    border-radius: 10px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.course-details {
    
    padding: 20px;
    border-radius: 10px;
 
    margin-left: 20px;
}

.price {
    font-size: 1.5rem;
    color: #e74c3c;
    margin-bottom: 10px;
}

.add-to-cart, .buy-now {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    color: #fff;
    background-color: #e74c3c;
    cursor: pointer;
}

.add-to-wishlist {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fffae6;
    cursor: pointer;
}

.course-includes {
    margin: 20px 0;
}

.course-includes li {
    margin-bottom: 10px;
}

.share a {
    margin-right: 10px;
}

.course-details-section {
    margin-top: 40px;
   
    padding: 20px;
    border-radius: 10px;
    
}
